
 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ site_title }}</title>

    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
<!--NAVIGATION BAR-->
<nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="" class="brand-logo">{{ site_title }}</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Home</a></li>
            <li><a href="https://forms.gle/1A6T57iFpWf8k4bN9">Report</a></li>
        </ul>
    </div>
</nav>

<!--CONTAINER-->
<div class="container">
    <!-- <h1 class="header center orange-text">{{ header }}</h1>
    <h4 class="center light-blue-text">{{ sub_header }}</h4> -->
    <form action="/action" method="post">
      <label for="text"><h4>Click on respective courses below or type in same format separated by comma:</h4> </label><br>
      <input type="text" id="text" name="text" placeholder="GE111(M5),MA515(CY-SH),CS518(CS-1),HS405(CY-SH)" required><br>
      <button type="submit" style="background-color: orange;height: 50px;width: 100px;">Submit</button>
    </form>
    <p>Example format to enter: <b>{{ galaxies[3] }} Course code with place</b></p>
    <p>Please note that labs are not included here. If your courses clash try getting table for each one separately.</p>
    <p>Here are most of our courses formats </p>
    <table class="collection with-header">
        <!-- <tr class="collection-header"><h4><b>{{ list_header }}</b></h4></tr> -->
{#    loop through galaxies and render them in list#}
{% set testing = 0 %}
{% for galaxy in range(0,lens,4) %}
          <tr>
            <td class="collection-item"><button style="height: 75px;width: 150px; background-color: rgb(242, 184, 11);border-color: black; border-radius:6px; padding:8px; color:white;" onclick="F1('{{ dsa[galaxy] }}')" id="{{ dsa[galaxy] }}">{{ dsa[galaxy] }}</button></td>
            {% set testing = testing+1 %}
            <td class="collection-item"><button style="height: 75px;width: 150px;background-color: rgb(251, 251, 253); border-color: black; border-radius:6px; padding:8px; color:rgb(0, 0, 0);" onclick="F1('{{ dsa[galaxy+1] }}')" id="{{ dsa[galaxy+1] }}">{{ dsa[galaxy+1] }}</button></td>
            {% set testing = testing+1 %}
            <td class="collection-item"><button style="height: 75px;width: 150px;background-color: rgb(24, 223, 74);border-color: black; border-radius:6px; padding:8px; color:white;" onclick="F1('{{ dsa[galaxy+2] }}')" id="{{ dsa[galaxy+2] }}">{{ dsa[galaxy+2] }}</button></td>
            {% set testing = testing+1 %}
            <td class="collection-item"><button style="height: 75px;width: 150px;background-color: rgb(24, 24, 223);border-color: black; border-radius:6px; padding:8px; color:white;" onclick="F1('{{ dsa[galaxy+3] }}')" id="{{ dsa[galaxy+3] }}">{{ dsa[galaxy+3] }}</button></td>
          </tr>
        {% endfor %}
    </table>
    
</div>

<br>
<br>


<!--FOOTER-->
<footer class="page-footer orange">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>

                <p class="grey-text text-lighten-4">Solving little problems.</p>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Improve this site</h5>
                <ul>
                  <li><a class="white-text" href="https://github.com/sdmadhav/IndividualTimetable">github</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    
                    <li><a class="white-text" href="https://www.linkedin.com/in/madhav-deshatwad-522538226/">LinkedIn</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

</body>
<script>
  let InputEle = document.getElementById('text')

  function F1(event){
    let el  = document.getElementById(event)
    if (InputEle.value){
      InputEle.value = InputEle.value+","+el.textContent;
    }
    else{
      InputEle.value = el.textContent;
    }
  }
</script>
</html>